body {
    font-family: Helvetica;
    font-size: 14px;
    padding-bottom: 40px;
}
table {
    
}
h1 {
    margin: 0;
    display: inline;
}
.spiffdar {
    font-weight: bold;
}
.spiffdar span.spiff {
    font-weight: normal;
}
div#playdar_stat {
    display: inline;
}
form#add {
    margin: 0 0 10px 0;
}
form#add label,
form#spiffform label {
    position: absolute;
    font-size: 11px;
    color: #777;
}
form#add input#artist,
form#add input#track,
form#spiffform input#spiff {
    margin-top: 12px;
}
table#container {
    width: 100%;
    height: 300px;
    float: left;
}

table#container tr td#side {
    vertical-align: top;
    width: 200px;
    padding: 5px 0 0 0;
    overflow: auto;
}
table#container tr td#main {
    vertical-align: top;
    width: 100%;
    height: 100%;
    float: left;
    overflow: auto;
}

ul#lists {
    list-style:none;
    margin:0 0 5px 0;
    padding:0;
}
ul#lists li {
    margin:0 0 2px 0;
    padding: 0;
}
ul#lists li a {
    display: block;
    color: #444;
    text-decoration: none;
    background: #ddd;
    -moz-border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
    padding:2px 4px;
}
ul#lists li a span {
    height: 12px;
    vertical-align: middle;
    display: block;
    overflow: hidden;
}
ul#lists li a:hover {
    background: #bbb;
}
ul#lists li.selected a {
    background: green;
    color: white;
    -moz-border-radius: 0;
}


form#spiffform {
    margin-top: -15px;
    position: absolute;
    background: white;
    border: 1px solid #c0c0c0;
    padding: 10px;
    z-index: 1;
}
form#spiffform input#spiff {
    width: 250px;
}
/** LIST **/
ol#list {
    list-style: none;
    padding:0;
    margin:0;
    display: block;
}
ol#list li#listitem_template {
    display: none;
    visibility: hidden;
}
ol#list li {
    padding:0;
    margin:0;
}
ol#list li.resolved {
    color: green;
    cursor: pointer;
}
ol#list li {
    clear: both;
    display: block;
}
ol#list li.odd {
    background: #eee;
}
ol#list li.hover {
    background: #ccc;
}
ol#list li.playing {
    background: green;
    color: white;
}
ol#list li.paused {
    /*background: blue;*/
}
ol#list li .position {
    float: left;
    font-size: 20px;
    padding: 5px;
}
ol#list li .metadata {
    /*float: left;*/
    padding: 5px;
}
ol#list li .track {
    font-size: 20px;
    display: inline;
    margin-left: 10px;
}
ol#list li .artist {
    display: inline;
}
ol#list li .time {
    float: right;
    font-size: 20px;
}

table#list {
    width: 500px;
    border-collapse: collapse;
}
table#list tr.resolved {
    color: green;
    cursor: pointer;
}
table#list tr th {
    text-align: left;
    font-size: 12px;
    padding: 3px 3px 1px 3px;
}
table#list tr#listitem_template {
    display: none;
}

table#list tr.odd td {
    background: #eee;
}
table#list tr.playing td {
    background: #ffa;
}
table#list tr.paused td {
    /*background: blue;*/
}
table#list tr td {
    background: white;
    padding: 3px 3px 1px 3px;
    vertical-align: center;
}