body {
    font-family: verdana,tahoma,arial,sans-serif;
    font-size: 16px;
    padding-bottom: 40px;
}
table {
    border-collapse: collapse;
    border:0;
}
td#side {
    width: 200px;
}
h1 {
    margin: 0;
    display: inline;
}
h1 a {
    color: black;
    text-decoration: none;
}
.spiffdar span.spiff {
    font-weight: normal;
}
.spiffdar {
    font-weight: bold;
}
a.spiffdar:hover {
    color: green;
}
div#playdar_stat {
    display: inline;
}
ul#menu {
    list-style: none;
    margin:-20px 0 0 0;
    padding:0;
    float: right;
}
ul#menu li {
    margin:0;
    padding:0 10px;
    font-size: 12px;
    line-height: 14px;
    float: left;
    border-left: 1px solid black;
}
ul#menu li.first {
    border-left: 0;
}
ul#menu li.selected a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
form#add {
    margin: 0 0 10px 0;
}
form#add label,
form#spiffform label {
    position: absolute;
    font-size: 11px;
    color: #777;
}
form#add input#artist,
form#add input#track,
form#spiffform input#spiff {
    margin-top: 14px;
}
table#container {
}

table#container tr td#side {
    vertical-align: top;
    padding: 5px 0 0 0;
}
table#container tr td#main {
    vertical-align: top;
    padding: 0 0 0 10px;
}

ul#lists {
    list-style:none;
    margin:0 0 5px 0;
    padding:0;
}
ul#lists li {
    margin:0 0 2px 0;
    padding: 0;
}
ul#lists li a {
    display: block;
    color: #444;
    text-decoration: none;
    background: #ddd;
    font-size: 12px;
    line-height: 12px;
    padding:2px 4px;
}
ul#lists li a span {
    height: 14px;
    vertical-align: middle;
    display: block;
    overflow: hidden;
}
ul#lists li a:hover {
    background: #bbb;
}
ul#lists li.selected a {
    background: green;
    color: white;
}


form#spiffform {
    margin-top: -15px;
    position: absolute;
    background: white;
    border: 1px solid #c0c0c0;
    padding: 10px;
    z-index: 1;
}
form#spiffform input#spiff {
    width: 250px;
}
div#emptylist {
    border: 4px dashed #c0c0c0;
    margin: 5px 0 0 10px;
    padding: 15px;
    width: 400px;
}
div#loading {
    margin: 0 0 0 5px;
}
div#emptylist p {
    margin: 0 0 10px 0;
    padding: 0;
}
/** LIST **/
ol#list {
    margin: 0;
    font-size: 20px;
}
ol#list li#listitem_template {
    display: none;
    visibility: hidden;
}
ol#list li {
    margin:0;
    padding: 0px 5px 2px 5px;
    clear: both;
}
ol#list li.resolved {
    color: green;
    cursor: pointer;
}
ol#list li.odd {
    background: #eee;
}
ol#list li.hover {
    background: #ccc;
}
ol#list li.playing {
    background: green;
}
ol#list li.playing .track,
ol#list li.playing .artist,
ol#list li.playing .time {
    color: white;
}
ol#list li.paused {
}
ol#list li .track {
    font-size: 16px;
    line-height: 18px;
}
ol#list li .artist {
    margin-left: 3px;
    font-size: 12px;
}
ol#list li .time {
    float: right;
    padding: 5px 0 0 0;
    font-size: 16px;
}
ol#list li .resolvedInfo {
    color: #333;
    font-size: 10px;
}
ol#list li .sourceLabel,
ol#list li .source,
ol#list li .sourceCount {
}

ol#list li.playing .sourceLabel,
ol#list li.playing .source,
ol#list li.playing .sourceCount {
    color: rgb(203, 218, 177);
}
ol#list li div.resolvedInfo {
    margin: 0 0 0 0;
    padding: 0;
}
ul.resolutions {
    list-style: none;
    margin:0 !important;
    padding:0 !important;
    border: 1px solid #C0C0C0;
    position: absolute;
    background: white;
}
ul.resolutions li {
    margin:0 !important;
    padding:0 !important;
    clear: none !important;
}
ul.resolutions li a {
    padding: 2px;
    margin: 0;
    display: block;
}
ul.resolutions li .track {
    font-weight: bold;
}
ul.resolutions li .track,
ul.resolutions li .artist {
    font-size: 10px !important;
    color: black !important;
}
ul.resolutions li.selected a {
    text-decoration: underline !important;
}
ul.resolutions li .artist {
    padding: 0 3px;
}
ul.resolutions li a:hover {
    background: rgb(203, 218, 177);
}

table#list {
    width: 500px;
    border-collapse: collapse;
}
table#list tr.resolved {
    color: green;
    cursor: pointer;
}
table#list tr th {
    text-align: left;
    font-size: 12px;
    padding: 3px 3px 1px 3px;
}
table#list tr#listitem_template {
    display: none;
}

table#list tr.odd td {
    background: #eee;
}
table#list tr.playing td {
    background: #ffa;
}
table#list tr.paused td {
    /*background: blue;*/
}
table#list tr td {
    background: white;
    padding: 3px 3px 1px 3px;
    vertical-align: center;
}

body#about p {
    display: block;
    width: 600px;
}

h3 {
    margin-bottom: 0;
}
.pubDate {
    font-size: 12px;
}
.description {
    margin-top: 5px;
    display: block;
    width: 600px;
}
